html{
  position: absolute;
  width: 100%;
  height: 110%;
  margin: 0;
}

.navbar-brand{
  border-style: soild;
  justify-content: flex-start;
}

#navbarNavAltMarkup{
  justify-content: center;
  margin-right: 5%;
}
.navBarContainer{
  background-color: white;
  width: 100%;
}
.contacts{
  justify-content: flex-end;
  margin-right: .4%;
}

.welcoming{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.btn{
  margin-left: 40%;
  pointer-events: all;
  background-color: black;
  border: none;
}


.mainContent{
  background-color: white;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  margin-right: 2%;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 4%;
  overflow: hidden;
  word-wrap: normal;
}

.mainContent a:nth-child(1) {
  pointer-events: none;
  cursor: default;
}
.bio {
  text-align: left !important;
}


.trackYoSelf{
  background-image: url("../images/trackYoSelf.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  overflow: auto;
  /* margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%; */
  
}
.memoryGame{
  background-image: url("../images/soccer Memory game.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  overflow: auto;
  /* margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%; */
  
}

.daBurger{
    background-image: url("../images/burger.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    overflow: auto;
    /* margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%; */
}

#pic1{
  float: left;
  margin-right: 3%;
}

.submit{
  margin-top: 2%
}


.mainContent a:nth-child(1) {
   pointer-events: none;
   cursor: default;
}

.portfolioContainer{
  pointer-events: none;
  cursor: default;
  align-content: center;
}

.portfolioCards {
 columns: 3;
 margin: 2% 2% 2% 10%;
}

h1, h2, p{
  color: black;
  text-align: center;
}

h3{
  position: relative;
  background-color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}
.insidePortfolioDeminsions{
  width: 100%;
  margin-top: 40%;
  pointer-events: all;
}

.footer{
  text-align: center;
  color: black;
	background: white;
	border-top: solid;
	border-color: #06ad81;
	width: 100%;
  height: 5%;
	position: fixed;
	left: 0 ; right: 0; bottom: 0;
}

.d-block{
   width: 350px;
   height: 350px;
}

.carousel-caption p{
  color: black;
  font-weight: bold; 
}

.carousel-content{
  /* width: 40%;
  height: 40%; */
  float: left;
  margin-right: 2%;
}

@media(max-width: 1920px){
   a:nth-child(n+4){
    display:none;
  }
  contacts{
    display: block;
  }
}

@media(max-width: 993px){
  .navbar-toggler{
    margin-left:80%;
  }
  a:nth-child(n+4){
    display: block;
  }
  .contacts{
    display: none;
  }
  .portfolioCards {
    column-count: 2;
    align-content: center;
  }
  .trackYoSelf {
    margin-bottom: 2%;
  }

  .daBurger {
    margin-top: 2%;
  }

}

@media(max-width: 530px){
  .navbar-toggler{
    margin-left:60%;
  }
  .portfolioCards {
    column-count: 1;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    align-content: center;
  }
}

